.first__image {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	max-height: 100%;
	object-fit: cover;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
