.about__paragraph {
	max-width: 584px;
	text-align: left;

	margin-top: 28px;
}

/*@media (max-width: 767px) {*/
/*	.about__paragraph {*/
/*		line-height: 20px;*/
/*		margin-top: 14px;*/
/*		font-size: 16px;*/
/*	}*/
/*}*/

