.about__paragraph {
	max-width: 584px;
	font-family: 'Inter', Arial, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: 0;
	text-align: left;
	color: #848FAC;
	margin-top: 28px;
}

@media (max-width: 767px) {
	.about__paragraph {
		line-height: 20px;
		margin-top: 14px;
		font-size: 16px;
	}
}

